

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.orange{
    color: whitesmoke;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 60px;
    font-style: normal;
    margin: 10px;
}

body{
    background-color: whitesmoke;
}

.hero{            
    box-sizing: border-box;

    height: 500px;
    background-image:url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: #ff751f;
    margin-bottom: 20px;
}

h3{
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color:#ff751f;
    margin: 5px;
}


header{
    background-color:#ff751f;
    margin: 7px auto;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pwhite{
    color: #ff751f;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.white{
    color: whitesmoke;
    text-align: center;
}

li{
    display: inline;
    justify-self: end;
    
}

.cardblack{
    width: 850px;
    height: 400px;
    background-color: #000000;
    border: 15px solid ;
    border-radius: 20px;
    border-color: #ffbd59;
    text-align: center;
    padding: 30px;
    margin: 10px;

}

.cardblack img{
    max-width: 100%;
    max-height: 100%;
}

.contenedor_padre{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenedor_sabores{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.cardsabor{
    background-color: #ffbd59;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 25px;
    margin-top: 50px;
}

.cardsabor img{
    max-width: 100%;
    border-radius: 20px;
}

.cardsabor2{
    background-color: #ffbd59;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 25px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.cardsabor2 img{
    max-width: 100%;
    border-radius: 20px;
}



footer{
    background-color: #ff751f;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hola{
    display: none;
}


@media screen and (max-width: 1100px) {

body{
    background-color: wheat;
}

.hero{
    height: 300px;
}

.pwhite {
    font-size: 26px;
}

.adios {
    display: none;
}
    
.orange{
     font-size: 40px;
  }
li{
     display: block;    
}

    .cardsabor {
    width: 270px;
    margin-left: 5px;
    margin-right: 5px;
    }

        .cardsabor2 {
    width: 270px;
    margin-left: 5px;
    margin-right: 5px;
    }

}


@media screen and (max-width: 862px) {


    .cardsabor {
    width: 210px;
    margin-left: 5px;
    margin-right: 5px;
    border: 5px;
    }

        .cardsabor2 {
    width: 210px;
    margin-left: 5px;
    margin-right: 5px;
    }

    .hola{
        display: block;
    }
    .chau{
        display: none;
    }
}


@media screen and (max-width: 500px) {

.hero{
    height: 200px;
}

    .cardsabor {
    width: 120px;
    margin-left: 5px;
    margin-right: 5px;
    }

        .cardsabor2 {
    width: 120px;
    margin-left: 5px;
    margin-right: 5px;
    }

    h2{
        font-size: 30px;
    }
    .pwhite{
        font-size: 20px;
        margin-left: 1px;
        margin-right: 1px;
    }
 h3{
    display: none;
 }

 .hola{
    display:none;
 }

 .cardblack {
    height: 350px;
}

 }